/*global*/
html, body{
	color: #333;
	padding: 0;
	margin: 0;
	font-family: 'Asap', sans-serif;
}

.azara-bg-area{
	padding: 2em;
	background: #e8e8e8;
}

/*helper classes*/
.text-align-right{
	text-align: right;
}

/*reusable component-based widget CSS*/
.azara-widget-wrapper{
	border: 1px solid #999;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 3px 7px rgba(0,0,0,.15);
}

.azara-widget-wrapper__header{
	padding: 1em;
	position: relative;
	border-bottom: 1px solid #ddd;
}

.azara-widget-wrapper__header__title{
	margin: 0;
	line-height: 1;
	font-weight: 600;
	padding-right: 3.5em;
}

.azara-widget-wrapper__header__edit-options{
	position: absolute;
	right: 1em;
	top: 1em;
}

.azara-widget__edit-btn{
	width: 30px;
	height: 30px;
	margin-left: .2em;
	display: inline-block;
	background-size: 18px;
	background-repeat: no-repeat;
	opacity: .7;
	-webkit-transition: .25s all ease;
	-moz-transition: .25s all ease;
	transition: .25s all ease;
}

.azara-widget__edit-btn:hover,
.azara-widget__edit-btn:active,
.azara-widget__edit-btn:focus{
	opacity: 1;
}

.azara-widget__edit-btn:first-child {
	margin-left: 0;
}

.azara-widget__edit-btn--filter{
	background-image: url('../images/filter.svg');
}

.azara-widget__edit-btn--edit{
	background-size: 20px;
	background-image: url('../images/edit.svg');
}

.azara-widget__edit-btn--close{
	background-image: url('../images/close.svg');
}

.azara-widget__edit-btn--resize{
	background-image: url('../images/resize.svg');
	position: absolute;
    right: 1em;
    top: .5em;
    background-size: 24px;
}

.azara-widget-wrapper__subheader{
	color: #fff;
	background: #333;
	font-size: .85em;
	letter-spacing: 1px;
	padding: .25em 1em;
	text-transform: uppercase;
}

.azara-widget__table {
	border: none;
	width: 100%;
	font-size: .85em;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    margin-bottom: 1em;
}

.azara-widget__table-head{
	padding: 0 1em;
	width: 100%;
	background: #4DA1FF;
	color: #fff;
	border: none;
	text-align: left;
}

.azara-widget__table tr{
	border: none;
}

.azara-widget__table th{
	border: none;
	padding: .5em 1em;
	-webkit-font-smoothing: antialiased;
}

.azara-widget__table td{
	border: none;
	padding: .5em 1em;
	-webkit-font-smoothing: antialiased;
}

.azara-widget__table tr:nth-child(even){
	background: #f5f5f5;
}

.azara-widget-wrapper__footer{
	border-top: 1px solid #ddd;
	display: table;
	position: relative;
	width: 100%;
}

.azara-widget-wrapper__footer_col{
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}

.azara-toggle-menu-label{
	color: #666;
	padding: 0 1em;
	line-height: 35px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .8em;
	vertical-align: middle;
}

.azara-toggle-menu{
	display: inline-block;
	margin: 0;
	padding: 0 .5em;
	vertical-align: middle;
}

.azara-toggle-menu__item{
	display: inline-block;
	vertical-align: middle;
}

.azara-toggle-menu__item__link{
	width: 30px;
	height: 25px;
	display: block;
	padding: .5em;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.azara-toggle-menu__item__link--active{
	background-color: #4DA1FF;
}

.azara-toggle-menu__item__link--table{
	background-image: url('../images/table.svg');
}

.azara-toggle-menu__item__link--bar{
	background-image: url('../images/bar.svg');
}

